<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/iconweather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <%-include('_header')-%>
       
            <h4><%=message%></h4>
        </div>
        
        <%-include('_footer')-%>
    </body>

</html>