<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/iconweather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            <%-include('_header')-%>
            <p>This site was created by ayushi bhardwaj. it used data from mapbox.com and weather api</p>
       
            <img class="portrait" src="./img/111.jpg">
        </div>
        
        <%-include('_footer')-%>
    </body>

</html>