<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/img/iconweather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            <%-include('_header')-%>
      
        </div>
       
        
        <%-include('_footer')-%>
    </body>

</html>